
body{
	font-family: Arial, Verdana, sans-serif;
	font-size: 15px;
	background-color: #f5f5f0;
	padding: 0;
	margin: 0;
}

		

	.container{
		width: 80%;
		margin: auto;
		overflow: hidden;
	}


	header{
		background: white;
		min-height: 70px;
	}

		header a{
			color: #004466;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 16px;

		}

		header ul{
			padding: 0;
			margin: 0;
		}

		header li{
			float: left;
			display: inline;
			padding: 0 15px 0 15px;
			margin-top: 3px;
		}

		/*
		.toggle{
			background: #0a0f0f;
			border-bottom: 6px solid #663300;
			height: 80px;
			padding: 5px 10px 0 10px;
			z-index: 100;
			position: absolute;
			display: none;
		}

		.toggle a{
			color: #ff8533;
		}
		*/

		.btn-primary.btn-sm{
			background-color: #004466;
			border: none;
		}

		/*
		.toggle-contact{
			background: #0a0f0f;
			border-bottom: 6px solid #663300;
			height: 80px;
			padding: 5px 10px 0 10px;
			z-index: 100;
			position: absolute;
			display: none;
		}

		.toggle-contact a{
			color: #ff8533;
		}
		*/

		header #branding{
			float: left;
			position: absolute;
			margin-top: 5px;
			
		}

		header nav{
			float: right;
			margin-top: 40px;
			
		}

		header li.current a{
			color: #5c8a8a;
		}

		header a:hover{
			color: #0099e6;
			transition: .5s;
		}

		#aboutus{
			margin-left: 40px;
				margin-top: 20px;
		}

		.aboutus{
			-moz-column-count: 3;
				-moz-column-gap: 40px;
				padding: 10px 40px 0px 40px;

		}


		/*------------------------------------

		search bar

		--------------------------------------*/
		#wrap {
			  margin: 20px 0px 10px 0px;
			  display: inline-block;
			  position: absolute;
			  height: 60px;
			  float: right;
			  padding: 0;
			  top: 5px;
			  right: 205px;
			  
			}

			input[type="text"] {
			  height: 55px;
			  font-size: 25px;
			  display: inline-block;
			  font-family: "Calibri";
			  font-weight: 100;
			  border: none;
			  outline: none;
			  color: #555;
			  padding: 3px;
			  padding-right: 60px;
			  width: 0px;
			  position: absolute;
			  top: 0;
			  right: 0;
			  background: none;
			  z-index: 3;
			  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
			  cursor: pointer;
			}

			input[type="text"]:focus:hover {
			  border-bottom: 1px solid #BBB;
			}

			input[type="text"]:focus {
			  width: 600px;
			  z-index: 1;
			  border-bottom: 1px solid #BBB;
			  cursor: text;
			}
			input[type="submit"] {
			  height: 50px;
			  width: 50px;
			  display: inline-block;
			  color: red;
			  float: right;
			  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=) center center no-repeat;
			  text-indent: -10000px;
			  border: none;
			  position: absolute;
			  top: 0;
			  right: 0;
			  z-index: 2;
			  cursor: pointer;
			  opacity: 0.4;
			  cursor: pointer;
			  transition: opacity .4s ease;
			}

			input[type="submit"]:hover {
			  opacity: 0.8;
			}

			.article-container{
				width: 100%;
				background-color: #fff;
				padding: 30px;
				text-align: center;
			}

			.article-box{
				width: 100%;
				padding: 10px 40px 0px 40px;
			}

			.search-heading{
				margin-left: 20px;
				margin-top: 20px;
				font-family: Calibri;
			}

			#business-strategy{
				margin-left: 40px;
				margin-top: 20px;
			}

			.business-strategy{
				-moz-column-count: 3;
				-moz-column-gap: 40px;
				padding: 10px 40px 0px 40px;

			}

			/*No results search*/

			body {
				  color: #7f8897;
				  font-family: Lato, sans-serif;
				  font-size: 14px;
				  font-weight: 300;
				  letter-spacing: 0.05em;
				  line-height: 1.5em;
				  background: #f7f7f7;
				  text-align: center;
				}

				.wrap {
				  margin: 50px auto 0;
				  width: 120px;
				  height: 100px;
				  position: relative;
				}

				h2 {
				  font-size: 16px;
				  font-weight: 400;
				  text-transform: uppercase;
				  margin-top: 2em;
				}

				div.items {
				  font-size: 50px;
				}

				div.items .fa {
				  position: absolute;
				  top: calc(50% - 0.4em);
				  left: calc(50% - 0.4em);
				  opacity: 0;
				}
				div.items .fa:nth-child(1) {
				  animation: slidefade 20s 0s infinite linear;
				}
				div.items .fa:nth-child(2) {
				  animation: slidefade 20s 2s infinite linear;
				}
				div.items .fa:nth-child(3) {
				  animation: slidefade 20s 4s infinite linear;
				}
				div.items .fa:nth-child(4) {
				  animation: slidefade 20s 6s infinite linear;
				}
				div.items .fa:nth-child(5) {
				  animation: slidefade 20s 8s infinite linear;
				}
				div.items .fa:nth-child(6) {
				  animation: slidefade 20s 10s infinite linear;
				}
				div.items .fa:nth-child(7) {
				  animation: slidefade 20s 12s infinite linear;
				}
				div.items .fa:nth-child(8) {
				  animation: slidefade 20s 14s infinite linear;
				}
				div.items .fa:nth-child(9) {
				  animation: slidefade 20s 16s infinite linear;
				}
				div.items .fa:nth-child(10) {
				  animation: slidefade 20s 18s infinite linear;
				}


				i.fa-search {
				  color: #a9afb9;
				  position: absolute;
				  z-index: 2;
				}

				i.search-1 {
				  font-size: 20px;
				  top: 5px;
				  left: 0;
				  top:-10px;
				  left:-15px;
				  animation: rotcw 5s infinite linear;
				}

				i.search-2 {
				  font-size: 12px;
				  top: 10px;
				  right: 15px;
				  top: -5px;
				  right: 0;
				  animation: rotcw 4s infinite linear;
				}

				i.search-3 {
				  font-size: 12px;
				  bottom: 0;
				  left: 5px;
				  bottom: -15px;
				  left: -10px;
				  animation: rotccw 4.4s infinite linear;
				}

				i.search-4 {
				  font-size: 20px;
				  bottom: -5px;
				  right: 0;
				  bottom: -20px;
				  right: -15px;
				  animation: rotccw 5.5s infinite linear;
				}


				/**
				 * Animations
				 */

				@keyframes slidefade {
				  0% {
				    opacity: 0;
				    transform: translate(50px, 0);
				  }
				  4.5% {
				    opacity: 1;
				    transform: translate(10px, 0);
				  }
				  10.5% {
				    opacity: 1;
				    transform: translate(-10px, 0);
				  }
				  15% {
				    opacity: 0;
				    transform: translate(-50px, 0);
				  }
				  100% {
				    opacity: 0;
				    transform: translate(50px, 0);
				  }
				}

				@keyframes rotcw {
				  from {
				    transform: rotate(0deg) translate(5px) rotate(0deg);
				  }
				  to {
				    transform: rotate(360deg) translate(5px) rotate(-360deg);
				  }
				}

				@keyframes rotccw {
				  from {
				    transform: rotate(0deg) translate(5px) rotate(0deg);
				  }
				  to {
				    transform: rotate(-360deg) translate(5px) rotate(360deg);
				  }
				}

				/* -------------------------------- 
				
				NEWSLETTER
				Primary style

				-------------------------------- */
				@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

				body {
					background:#11BCAF;
					font-family: 'Lato', sans-serif;
					font-weight: bold;
					font-size: 14px;
					color: #171D23;
					margin: 00;
				}

				.container_subscribe {	
					width: 100%;
					height: 150px;
					margin: auto;
					background-color: darkgray;
				}

				.login_bar {
					width: 400px;
					height: 50px;
					background: white;
					border-radius: 10px;
					top: 30%;
					position: relative;
				  z-index: 1;
					overflow: hidden;
					margin: 0px auto
				}

				.login {
					background: transparent;
					position: absolute;
					height: 100%;
					width: 300px;
					padding-left: 10px;
					text-align: left;
					line-height: 50px;
					vertical-align: middle;
					z-index: 10;
					-webkit-transition: transform 0.2s ease-in-out 0s;
					   -moz-transition: transform 0.2s ease-in-out 0s;
					     -o-transition: transform 0.2s ease-in-out 0s;
					        transition: transform 0.2s ease-in-out 0s;
				}

				.login_active {
					-webkit-transform: translateX(400px);
					   -moz-transform: translateX(400px);
					    -ms-transform: translateX(400px);
					     -o-transform: translateX(400px);
					        transform: translateX(400px);
				}

				.subscribe_button:hover{
					background-color: #222A33;
					cursor:pointer;
				}

				.subscribe_button {
					background: #171D23;
					position: absolute;
					top: -50px;
					left: 300px;
					border-top-right-radius: 10px;
					border-bottom-right-radius: 10px;
					height: 150px;
					width: 100px;
					text-align: center;
					line-height: 150px;
					vertical-align: middle;	
					color: white;
					-webkit-transition: transform 0.5s ease 0s;
					   -moz-transition: transform 0.5s ease 0s;
					     -o-transition: transform 0.5s ease 0s;
					        transition: transform 0.5s ease 0s;
				}

				.subscribe_button_active{
					-webkit-transform: translateY(50px);
					   -moz-transform: translateY(50px);
					    -ms-transform: translateY(50px);
					     -o-transform: translateY(50px);
					        transform: translateY(50px);
				}

				.subscribing{
					background: #CDD4DC;
					height: 100%;
					width: 400px;
					z-index: 5;
					position: absolute;
					left:-400px;
					display: inline-block;
					-webkit-transition: transform 1s ease 0s ;
					   -moz-transition: transform 1s ease 0s ;
					     -o-transition: transform 1s ease 0s ;
					        transition: transform 1s ease 0s ;
				}

				.subscribing_active {
					-webkit-transform: translateX(400px);
					   -moz-transform: translateX(400px);
					    -ms-transform: translateX(400px);
					     -o-transform: translateX(400px);
					        transform: translateX(400px);
				}

				.thanks{
					background: transparent;
					height: 100%;
					width: 400px;
					z-index: 5;
					text-align: left;
					line-height: 50px;
					vertical-align: middle;
					padding-left: 10px;
					position: absolute;
					top:50px;
					display: inline-block;
					-webkit-transition: transform 0.5s ease 0s ;
					   -moz-transition: transform 0.5s ease 0s ;
					     -o-transition: transform 0.5s ease 0s ;
					        transition: transform 0.5s ease 0s ;
				}

				.thanks_active {
					-webkit-transform: translateY(-50px);
					   -moz-transform: translateY(-50px);
					    -ms-transform: translateY(-50px);
					     -o-transform: translateY(-50px);
					        transform: translateY(-50px);
				}



		/*FAQS*/
			/* -------------------------------- 

			Primary style

			-------------------------------- */
			*, *::after, *::before {
			  -webkit-box-sizing: border-box;
			  -moz-box-sizing: border-box;
			  box-sizing: border-box;
			}

			*::after, *::before {
			  content: '';
			}

			body {
			  font-size: 100%;
			  font-family: "Open Sans", sans-serif;
			  color: #4e5359;
			  background-color: #f3f3f5;
			}
			body::after {
			  /* overlay layer visible on small devices when the right panel slides in */
			  position: fixed;
			  top: 0;
			  left: 0;
			  width: 100%;
			  height: 100%;
			  background-color: rgba(78, 83, 89, 0.8);
			  visibility: hidden;
			  opacity: 0;
			  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
			  -moz-transition: opacity .3s 0s, visibility 0s .3s;
			  transition: opacity .3s 0s, visibility 0s .3s;
			}
			body.cd-overlay::after {
			  visibility: visible;
			  opacity: 1;
			  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
			  -moz-transition: opacity .3s 0s, visibility 0s 0s;
			  transition: opacity .3s 0s, visibility 0s 0s;
			}
			@media only screen and (min-width: 768px) {
			  body::after {
			    display: none;
			  }
			}

			a {
			  color: #a9c056;
			  text-decoration: none;
			}

			/* -------------------------------- 

			Main components 

			-------------------------------- */
			header {
			  position: relative;
			  height: 180px;
			  line-height: 180px;
			  text-align: center;
			  background-color: #ffffff;
			}
			header h1 {
			  color: #ffffff;
			  -webkit-font-smoothing: antialiased;
			  -moz-osx-font-smoothing: grayscale;
			  font-size: 20px;
			  font-size: 1.25rem;
			}
			@media only screen and (min-width: 1024px) {
			  header {
			    height: 150px;
			    line-height: 150px;
			  }
			  header h1 {
			    font-size: 36px;
			    font-size: 2.25rem;
			    font-weight: 300;
			  }
			}

			.cd-faq {
			  width: 90%;
			  max-width: 1024px;
			  margin: 2em auto;
			  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
			}
			.cd-faq:after {
			  content: "";
			  display: table;
			  clear: both;
			}
			@media only screen and (min-width: 768px) {
			  .cd-faq {
			    position: relative;
			    margin: 4em auto;
			    box-shadow: none;
			  }
			}

			.cd-faq-categories a {
			  position: relative;
			  display: block;
			  overflow: hidden;
			  height: 50px;
			  line-height: 50px;
			  padding: 0 28px 0 16px;
			  background-color: #0099e6;
			  -webkit-font-smoothing: antialiased;
			  -moz-osx-font-smoothing: grayscale;
			  color: #ffffff;
			  white-space: nowrap;
			  border-bottom: 1px solid #555b61;
			  text-overflow: ellipsis;
			}
			.cd-faq-categories a::before, .cd-faq-categories a::after {
			  /* plus icon on the right */
			  position: absolute;
			  top: 50%;
			  right: 16px;
			  display: inline-block;
			  height: 1px;
			  width: 10px;
			  background-color: #7f868e;
			}
			.cd-faq-categories a::after {
			  -webkit-transform: rotate(90deg);
			  -moz-transform: rotate(90deg);
			  -ms-transform: rotate(90deg);
			  -o-transform: rotate(90deg);
			  transform: rotate(90deg);
			}
			.cd-faq-categories li:last-child a {
			  border-bottom: none;
			}
			@media only screen and (min-width: 768px) {
			  .cd-faq-categories {
			    width: 20%;
			    float: left;
			    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
			  }
			  .cd-faq-categories a {
			    font-size: 13px;
			    font-size: 0.8125rem;
			    font-weight: 600;
			    padding-left: 24px;
			    padding: 0 24px;
			    -webkit-transition: background 0.2s, padding 0.2s;
			    -moz-transition: background 0.2s, padding 0.2s;
			    transition: background 0.2s, padding 0.2s;
			  }
			  .cd-faq-categories a::before, .cd-faq-categories a::after {
			    display: none;
			  }
			  .no-touch .cd-faq-categories a:hover {
			    background: #555b61;
			  }
			  .no-js .cd-faq-categories {
			    width: 100%;
			    margin-bottom: 2em;
			  }
			}
			@media only screen and (min-width: 1024px) {
			  .cd-faq-categories {
			    position: absolute;
			    top: 0;
			    left: 0;
			    width: 200px;
			    z-index: 2;
			  }
			  .cd-faq-categories a::before {
			    /* decorative rectangle on the left visible for the selected item */
			    display: block;
			    top: 0;
			    right: auto;
			    left: 0;
			    height: 100%;
			    width: 3px;
			    background-color: #0099e6;
			    opacity: 0;
			    -webkit-transition: opacity 0.2s;
			    -moz-transition: opacity 0.2s;
			    transition: opacity 0.2s;
			  }
			  .cd-faq-categories .selected {
			    background: #42464b !important;
			  }
			  .cd-faq-categories .selected::before {
			    opacity: 1;
			  }
			  .cd-faq-categories.is-fixed {
			    /* top and left value assigned in jQuery */
			    position: fixed;
			  }
			  .no-js .cd-faq-categories {
			    position: relative;
			  }
			}

			.cd-faq-items {
			  position: fixed;
			  height: 100%;
			  width: 90%;
			  top: 0;
			  right: 0;
			  background: #ffffff;
			  padding: 0 5% 1em;
			  overflow: auto;
			  -webkit-overflow-scrolling: touch;
			  z-index: 1;
			  -webkit-backface-visibility: hidden;
			  backface-visibility: hidden;
			  -webkit-transform: translateZ(0) translateX(100%);
			  -moz-transform: translateZ(0) translateX(100%);
			  -ms-transform: translateZ(0) translateX(100%);
			  -o-transform: translateZ(0) translateX(100%);
			  transform: translateZ(0) translateX(100%);
			  -webkit-transition: -webkit-transform .3s;
			  -moz-transition: -moz-transform .3s;
			  transition: transform .3s;
			}
			.cd-faq-items.slide-in {
			  -webkit-transform: translateZ(0) translateX(0%);
			  -moz-transform: translateZ(0) translateX(0%);
			  -ms-transform: translateZ(0) translateX(0%);
			  -o-transform: translateZ(0) translateX(0%);
			  transform: translateZ(0) translateX(0%);
			}
			.no-js .cd-faq-items {
			  position: static;
			  height: auto;
			  width: 100%;
			  -webkit-transform: translateX(0);
			  -moz-transform: translateX(0);
			  -ms-transform: translateX(0);
			  -o-transform: translateX(0);
			  transform: translateX(0);
			}
			@media only screen and (min-width: 768px) {
			  .cd-faq-items {
			    position: static;
			    height: auto;
			    width: 78%;
			    float: right;
			    overflow: visible;
			    -webkit-transform: translateZ(0) translateX(0);
			    -moz-transform: translateZ(0) translateX(0);
			    -ms-transform: translateZ(0) translateX(0);
			    -o-transform: translateZ(0) translateX(0);
			    transform: translateZ(0) translateX(0);
			    padding: 0;
			    background: transparent;
			  }
			}
			@media only screen and (min-width: 1024px) {
			  .cd-faq-items {
			    float: none;
			    width: 100%;
			    padding-left: 220px;
			  }
			  .no-js .cd-faq-items {
			    padding-left: 0;
			  }
			}

			.cd-close-panel {
			  position: fixed;
			  top: 5px;
			  right: -100%;
			  display: block;
			  height: 40px;
			  width: 40px;
			  overflow: hidden;
			  text-indent: 100%;
			  white-space: nowrap;
			  z-index: 2;
			  /* Force Hardware Acceleration in WebKit */
			  -webkit-transform: translateZ(0);
			  -moz-transform: translateZ(0);
			  -ms-transform: translateZ(0);
			  -o-transform: translateZ(0);
			  transform: translateZ(0);
			  -webkit-backface-visibility: hidden;
			  backface-visibility: hidden;
			  -webkit-transition: right 0.4s;
			  -moz-transition: right 0.4s;
			  transition: right 0.4s;
			}
			.cd-close-panel::before, .cd-close-panel::after {
			  /* close icon in CSS */
			  position: absolute;
			  top: 16px;
			  left: 12px;
			  display: inline-block;
			  height: 3px;
			  width: 18px;
			  background: #6c7d8e;
			}
			.cd-close-panel::before {
			  -webkit-transform: rotate(45deg);
			  -moz-transform: rotate(45deg);
			  -ms-transform: rotate(45deg);
			  -o-transform: rotate(45deg);
			  transform: rotate(45deg);
			}
			.cd-close-panel::after {
			  -webkit-transform: rotate(-45deg);
			  -moz-transform: rotate(-45deg);
			  -ms-transform: rotate(-45deg);
			  -o-transform: rotate(-45deg);
			  transform: rotate(-45deg);
			}
			.cd-close-panel.move-left {
			  right: 2%;
			}
			@media only screen and (min-width: 768px) {
			  .cd-close-panel {
			    display: none;
			  }
			}

			.cd-faq-group {
			  /* hide group not selected */
			  display: none;
			}
			.cd-faq-group.selected {
			  display: block;
			}
			.cd-faq-group .cd-faq-title {
			  background: transparent;
			  box-shadow: none;
			  margin: 1em 0;
			}
			.no-touch .cd-faq-group .cd-faq-title:hover {
			  box-shadow: none;
			}
			.cd-faq-group .cd-faq-title h2 {
			  text-transform: uppercase;
			  font-size: 12px;
			  font-size: 0.75rem;
			  font-weight: 700;
			  color: #bbbbc7;
			}
			.no-js .cd-faq-group {
			  display: block;
			}
			@media only screen and (min-width: 768px) {
			  .cd-faq-group {
			    /* all groups visible */
			    display: block;
			  }
			  .cd-faq-group > li {
			    background: #ffffff;
			    margin-bottom: 6px;
			    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
			    -webkit-transition: box-shadow 0.2s;
			    -moz-transition: box-shadow 0.2s;
			    transition: box-shadow 0.2s;
			  }
			  .no-touch .cd-faq-group > li:hover {
			    box-shadow: 0 1px 10px rgba(108, 125, 142, 0.3);
			  }
			  .cd-faq-group .cd-faq-title {
			    margin: 2em 0 1em;
			  }
			  .cd-faq-group:first-child .cd-faq-title {
			    margin-top: 0;
			  }
			}

			.cd-faq-trigger {
			  position: relative;
			  display: block;
			  margin: 1.6em 0 .4em;
			  line-height: 1.2;
			}
			@media only screen and (min-width: 768px) {
			  .cd-faq-trigger {
			    font-size: 24px;
			    font-size: 1.5rem;
			    font-weight: 300;
			    margin: 0;
			    padding: 24px 72px 24px 24px;
			  }
			  .cd-faq-trigger::before, .cd-faq-trigger::after {
			    /* arrow icon on the right */
			    position: absolute;
			    right: 24px;
			    top: 50%;
			    height: 2px;
			    width: 13px;
			    background: #7f868e;
			    -webkit-backface-visibility: hidden;
			    backface-visibility: hidden;
			    -webkit-transition-property: -webkit-transform;
			    -moz-transition-property: -moz-transform;
			    transition-property: transform;
			    -webkit-transition-duration: 0.2s;
			    -moz-transition-duration: 0.2s;
			    transition-duration: 0.2s;
			  }
			  .cd-faq-trigger::before {
			    -webkit-transform: rotate(45deg);
			    -moz-transform: rotate(45deg);
			    -ms-transform: rotate(45deg);
			    -o-transform: rotate(45deg);
			    transform: rotate(45deg);
			    right: 32px;
			  }
			  .cd-faq-trigger::after {
			    -webkit-transform: rotate(-45deg);
			    -moz-transform: rotate(-45deg);
			    -ms-transform: rotate(-45deg);
			    -o-transform: rotate(-45deg);
			    transform: rotate(-45deg);
			  }
			  .content-visible .cd-faq-trigger::before {
			    -webkit-transform: rotate(-45deg);
			    -moz-transform: rotate(-45deg);
			    -ms-transform: rotate(-45deg);
			    -o-transform: rotate(-45deg);
			    transform: rotate(-45deg);
			  }
			  .content-visible .cd-faq-trigger::after {
			    -webkit-transform: rotate(45deg);
			    -moz-transform: rotate(45deg);
			    -ms-transform: rotate(45deg);
			    -o-transform: rotate(45deg);
			    transform: rotate(45deg);
			  }
			}

			.cd-faq-content p {
			  font-size: 14px;
			  font-size: 0.875rem;
			  line-height: 1.4;
			  color: #6c7d8e;
			}
			@media only screen and (min-width: 768px) {
			  .cd-faq-content {
			    display: none;
			    padding: 0 24px 30px;
			  }
			  .cd-faq-content p {
			    line-height: 1.6;
			  }
			  .no-js .cd-faq-content {
			    display: block;
			  }
			}


		


	#showcase{
		text-align: center;

	}

		#showcase h1{
			font-size: 50px;
			margin-top: 15px;
			margin-bottom: 10px;
			
		}

		#showcase p{
			font-size: 17px;
		}

	

	#boxes{
		margin-top: 40px;
		
	}

		#boxes .box{
			width: 30%;
			text-align: center;
			float: left;
			padding: 10px;
		}
		
		
footer{
		background-color: #004466;
		padding: 10px;
		color: white;
		text-align: center;
		
	}

footer a{
	float: left;
	flex-direction: column;
	font-size: 13px;
	padding: 0px 10px;
	color: white;
}

footer a:hover{
	color: #4db8ff;
}

footer p{
		color: #007bff;
		font-size: 13px;
		color: white;
}

	/*.newsletter{ 
		border-bottom: #e6ac00 3px solid;
		padding: 10px 0px;
		width: 100%;
	}

		#newsletter h2{
			float: left;
		}

		#newsletter form{
			float: right;
			margin-top: 20px;
		}

		#newsletter input[type="email"]{
			height: 22px;
			width: 250px;
			margin-bottom: 5px;
			border-radius: 5px;
		}

		#newsletter .button_1{
			background-color: #00264d;
			width: 100px;
			height: 27px;
			border-style: none;
			margin-left: 5px;
			color: white;
		}

		#newsletter .button_1:hover{
			background-color: #004466;
			transition: background .5s;
			cursor: pointer;
		}*/

	footer .fa{
		margin-right: 10px;
		margin-top: 10px;
	}